<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div id="header" th:fragment="header">
        <th:block th:replace="fragment/navbar :: navbar" sec:authorize="hasAuthority('USER')"></th:block>
        <th:block th:replace="fragment/sidebar :: sidebar" sec:authorize="hasAuthority('USER')"></th:block>
        <div id="data" sec:authorize="hasAuthority('USER')"
             th:data-user-id="${#authentication.principal.id}"
             th:data-user-email="${#authentication.principal.email}"
             th:data-user-username="${#authentication.principal.username}"
             th:data-user-avatar="${#authentication.principal.avatar}"
             th:data-token="${_csrf.token}"
             th:data-header="${_csrf.headerName}"
        ></div>
    </div>
</html>