<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block th:fragment="sidebar">

        <div class="modal fade" id="modal-contacts" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-primary">
                    <div class="modal-header text-center d-block">
                        <h5 class="modal-title">Add new contact</h5>
                    </div>
                    <div class="modal-body" id="modal-body-id">
                        <input type="text" id="modal-contacts-filter" class="form-control mb-4" placeholder="Username" autocomplete="off" autocapitalize="off" />

                        <div class="container user-list-container" id="user-list-contacts-add">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <aside id="sidebar">
            <div class="toggle">
                <a href="#" class="fa-align-justify fa js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                    <span></span>
                </a>
            </div>
            <div class="side-inner">
                <div id="side-content">
                    <div class="logo">
                        <span>M</span>
                    </div>
                    <div id="origin-menu">
                        <div class="nav-menu">
                            <ul class="custom-ul">
                                <li class="custom-li"><a href="#" class="settings-menu-toggle custom-a">Settings</a></li>
                                <li class="custom-li"><a href="#" class="contacts-menu-toggle custom-a">Contacts</a></li>
                            </ul>
                        </div>
                        <div class="featured-users">
                            <h3>Chats</h3>
                            <ul id="chat-list">

                            </ul>
                        </div>
                    </div>
                    <div class="featured-users d-none" id="contact-menu">
                        <ul class="custom-ul">
                            <li class="custom-li"><a href="#" class="contacts-menu-toggle custom-a">Return</a></li>
                        </ul>
                        <h3><span class="fa fa-plus add-contact" data-toggle="modal" data-target="#modal-contacts"></span> Contacts</h3>
                        <ul id="contact-list">

                        </ul>
                    </div>
                    <div class="featured-users d-none" id="settings-menu">
                        <ul class="custom-ul">
                            <li class="custom-li"><a href="#" class="settings-menu-toggle custom-a">Return</a></li>
                        </ul>
                        <h3>Settings</h3>
                    </div>
                </div>
                <div th:replace="~{fragment/logout :: logout}"></div>
            </div>
        </aside>
    </th:block>
</html>