<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block th:fragment="sidebar">

        <div class="modal fade" id="modal-contacts" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-primary">
                    <div class="modal-header text-center d-block">
                        <h5 class="modal-title">Add new contact</h5>
                    </div>
                    <div class="modal-body" id="modal-body-id">
                        <input type="text" id="modal-contacts-filter" class="form-control mb-4" placeholder="Username" autocomplete="off" autocapitalize="off" />

                        <div class="container user-list-container" id="user-list-contacts-add">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <aside id="sidebar" sec:authorize="hasAuthority('USER')">
            <div class="toggle">
                <a href="#" class="fa-align-justify fa js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                    <span></span>
                </a>
            </div>
            <div class="side-inner">
                <div id="side-content">
                    <div class="logo">
                        <span>M</span>
                    </div>
                    <div class="nav-menu">
                        <ul>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Channels</a></li>
                            <li><a href="#">Chats</a></li>
                        </ul>
                    </div>
                    <div class="featured-users">
                        <h3><span class="fa fa-plus add-contact" data-toggle="modal" data-target="#modal-contacts"></span> Contacts</h3>
                        <ul id="contact-list">

                        </ul>
                    </div>
                </div>
                <div th:replace="~{fragment/logout :: logout}"></div>
            </div>
        </aside>
    </th:block>
</html>