html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

::-webkit-scrollbar {
    width: 3px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-color);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: var(--background-color-chat) !important;
    color: var(--text-color-chat) !important;
}

.sidebar {
    max-width: 20vw;
    min-width: 20vw;
    z-index: 1001;
    position: fixed;
    background-color: var(--background-color-side-menu);
    -webkit-transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
    transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-box-shadow: 10px 0 2.5vw 0 rgba(0, 0, 0, 0.1);
    box-shadow: 10px 0 2.5vw 0 rgba(0, 0, 0, 0.1);
}

.sidebar-left {
    left: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.sidebar-right {
    right: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.sidebar .toggle {
    padding-top: .6vw;
    position: absolute;
    font-size: 1.5vw;
}

.sidebar-left > .toggle {
    right: 0;
    padding-left: 2.5vw;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.sidebar-right > .toggle {
    left: 0;
    padding-right: 2.5vw;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.show-sidebar .sidebar .toggle .show-sidebar .sidebar .toggle .show-sidebar .sidebar .toggle {
    background: var(--background-color-side-menu);
}

.sidebar .side-inner {
    padding-top: 2.5vw;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}

.sidebar .side-inner::-webkit-scrollbar {
    display: none;
}

.logo {
    width: 4vw;
    height: 4vw;
    background: var(--background-color-side-menu-logo);
    border-radius: 50%;
    position: relative;
    margin: 0 auto 4vw 3vw;
}

.logo span {
    position: absolute;
    color: var(--text-color-main);
    font-size: 2vw;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.custom-h3 {
    font-size: 1vw;
    text-transform: uppercase;
    letter-spacing: .2vw;
    font-weight: 700;
    color: var(--text-color-main);
    margin-bottom: 1vw;
    margin-left: 3vw;
}

.custom-ul, .custom-li {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
}

.sidebar .side-inner .featured-users ul .block {
    margin-bottom: 1vw;
}

.custom-img, .custom-img-min {
    margin: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 3.5vw;
    border-radius: 50%;
}

.custom-img {
    flex: 0 0 3.5vw;
    height: 3.5vw;
    width: 3.5vw;
}

.custom-img-min {
    flex: 0 0 2vw;
    height: 3.5vw;
    width: 2vw;
}

.custom-img-checkbox-list {
    min-width: 2rem !important;
    width: 3rem !important;
}

.checkbox-list-box {
    height: 3rem;
}

.user-name {
    color: var(--text-color-main);
    font-size: 1.1vw;
}

.sidebar .side-inner .nav-menu {
    margin-bottom: 4vw;
}

.custom-a {
    display: block;
    padding: 1vw 2.5vw 1vw 3vw;
    color: var(--text-color-link);
    position: relative;
    -webkit-transition: .3s padding-left ease;
    -o-transition: .3s padding-left ease;
    transition: .3s padding-left ease;
}

.custom-a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: .2vw;
    background-color: var(--link-color-before);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s opacity ease, .3s visibility ease, .3s width ease;
    -o-transition: .3s opacity ease, .3s visibility ease, .3s width ease;
    transition: .3s opacity ease, .3s visibility ease, .3s width ease;
}

.custom-a:active, .custom-a:focus, .custom-a:hover {
    outline: none;
}

.custom-a:hover {
    color: var(--text-color-link-hover);
}

.custom-a:hover:before {
    opacity: 1;
    visibility: visible;
    width: 2.5vw;
}

.sidebar #side-content {
    font-size: 1.2vw;
}

.mr-vw {
    margin-right: 1.1vw;
}

.btn-vw {
    font-size: 1.35vw !important;
    line-height: 0 !important;
    height: 3vw !important;
    max-height: 3vw !important;
    min-height: 3vw !important;
    padding: 0.5vw 1vw !important;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50vh;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    min-height: 100vh;
    max-height: 100vh;
}

.chat-window {
    margin-top: 5vh;
    flex: 1 1 auto;
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px 3.2vw;
}

.user-avatar-mine, .user-avatar-yours {
    margin-top: -2.5vh;
    max-width: 2.2vw !important;
    max-height: 2.2vw !important;
}

.user-avatar-yours {
    margin-left: -3vw !important;
}

.user-avatar-mine {
    margin-right: -3vw !important;
}

.message-box {
    min-width: 100%;
    max-width: 100%;
    position: relative;
    flex: 0 1 auto;
}

.message-textarea {
    font-size: 1.2vw !important;
    min-width: 95%;
    max-width: 95%;
    height: 15vh;
    padding: 0.5vw;
    resize: none;
    display: inline-flex;
    border: 0;
}

.message-textarea:focus {
    border: 0;
    outline: 0;
}

.send-button {
    background-color: var(--text-block-color-send-button);
    position: absolute;
    width: 5%;
    height: 15vh;
    color: var(--send-button-color);
    text-align: center;
    font-size: 2vw !important;
    line-height: 15vh !important;
}

.send-button:hover {
    font-size: 2.5vw !important;
}

.add-contact {
    font-size: 1.3vw !important;
    vertical-align: sub;
}

.add-contact:hover {
    color: var(--background-color-button);
}

.user-modal-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user-modal-checkbox-mark {
    position: absolute;
    top: 0;
    right: 0;
    height: 1.3rem;
    width: 1.3rem;
    background-color: var(--background-color-checkbox-mark);
    border-radius: 1rem;
    margin-top: 0.8rem;
}

.user-modal-checkbox:hover input ~ .user-modal-checkbox-mark {
    background-color: var(--background-color-checkbox-mark);
}

.user-modal-checkbox input:checked ~ .user-modal-checkbox-mark {
    background-color: var(--background-color-checkbox-mark-checked);
}

.user-modal-checkbox-mark:after {
    content: "";
    position: absolute;
    display: none;
}

.user-modal-checkbox input:checked ~ .user-modal-checkbox-mark:after {
    display: block;
}

.user-modal-checkbox .user-modal-checkbox-mark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.add-contact-button {
    width: 5rem;
}

.navbar-custom {
    position: absolute;
    background-color: var(--background-color-header);
    width: 100%;
    height: 5vh;
}

#chat-name {
    color: var(--text-color-chat-name-header);
    font-size: 2vw;
    line-height: 5vh;
}

.login-or {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: var(--background-color-login-span-or);
    width: 50px;
    text-align: center;
    color: var(--text-color-login-span-or);
}

.hr-or {
    height: 1px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-top: 1px solid white !important;
}

.messages {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 1.3vw;
    padding: 0.5vw 1vw;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
    display: inline-block;
    max-width: 50vw;
    overflow-wrap: break-word;
    width: fit-content;
}

.yours {
    align-items: flex-start;
}

.yours .message {
    color: var(--text-color-chat);
    margin-right: 25%;
    background-color: var(--background-color-yours-message);
    position: relative;
}

.yours .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -0.56vw;
    height: 1.3vw;
    width: 1.3vw;
    background: var(--background-color-yours-message);
    border-bottom-right-radius: 1vw;
}
.yours .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -0.7vw;
    width: 0.7vw;
    height: 1.3vw;
    background: var(--background-color-chat);
    border-bottom-right-radius: 0.7vw;
}

.mine {
    align-items: flex-end;
}

.mine .message {
    color: var(--text-color-chat);
    margin-left: 25%;
    background: var(--background-color-mine-message);
    position: relative;
}

.mine .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -0.56vw;
    height: 1.3vw;
    width: 1.3vw;
    background: var(--background-color-mine-message);
    border-bottom-left-radius: 1vw;
}

.mine .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -0.7vw;
    width: 0.7vw;
    height: 1.3vw;
    background: var(--background-color-chat);
    border-bottom-left-radius: 0.7vw;
}

.error {
    color: var(--text-color-error-message);
    font-size: 1.1vw;
}

.error-input {
    border-color: var(--border-color-input-error) !important;
    background-color: var(--background-color-input-error) !important;
    border-width: 0.2vw !important;
}

.modal-list {
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.message-textarea {
    background-color: var(--background-color-textarea);
    color: var(--text-color-textarea);
}

.js-menu-toggle {
    color: var(--text-color-menu-toggle);
}

.js-menu-toggle:hover {
    color: var(--text-color-menu-toggle-hover);
}

.btn-themed {
    color: var(--text-color-button-theme) !important;
}

.btn-custom {
    color: var(--text-color-button);
    background-color: var(--background-color-button);
    border-color: var(--border-color-button);
}

.btn-custom:hover {
    border-color: var(--border-color-button-hover);
}

.bg-custom {
    background-color: var(--background-color-form-body) !important;
}

.non-styled-list {
    list-style-type: none !important;
}

.user-count {
    transform: translateY(-2.5vh);
    font-size: 1.5vw;
    cursor: pointer;
}

.participant-list {
    margin: .25vw;
    padding: 1vw;
    font-size: 1.25vw;
    color: var(--text-color-main);
    box-shadow: inset 0 0 6px 0;
}

.invite-plus {
    transform: translateY(-3vh);
    font-size: 1.25vw !important;
    color: var(--text-color-main);
}

.invite-plus:hover {
    color: var(--background-color-button);
}

.user-block {
    height: 3vh;
}

.kick-button {
    border: .1vw solid red !important;
    padding: .375vw .75vw !important;
    font-size: 1vw !important;
    border-radius: .25vw !important;
}

.custom-label {
    color: var(--text-color-main);
    overflow-wrap: break-word;
}

.custom-label:hover {
    color: var(--text-color-link-hover);
}

.profile-settings-img {
    display: block;
    height: 10rem;
    width: 10rem;
    margin-left: auto !important;
    margin-right: auto;
}