<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"><div layout:fragment="content">

    <div id="modal-upload-image"></div>

    <div class="chat-window" id="chat-window">

    </div>

    <div class="dropdown-menu" id="message-right-click">
        <span class="dropdown-item" id="select-message-contextmenu">Select</span>
        <span class="dropdown-item" id="reply-message-contextmenu">Reply</span>
    </div>

    <div class="message-box">
        <div class="replied-message-block d-none" id="replied-message-block">
            <div class="replied-message d-inline-flex" id="replied-message"></div>
            <span class="fa fa-times replied-message-close float-right" id="replied-message-close" onclick="clearReply();"></span>
        </div>
        <textarea placeholder="Message..." name="message" id="message-text" class="message-textarea" autofocus></textarea>
        <i class="fa fa-paper-plane send-button unselectable" id="send-button"></i>
    </div>
    
</div></html>